<app-alerts></app-alerts>

<div>
  <header>
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Film Catalog</span>
        <span class="example-spacer"></span>

        <span class="example-spacer"></span>
        <a mat-button *ngFor="let link of links" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
          class="nav-link" [routerLink]="link['path']">
          <mat-icon class="example-icon">{{link['icon']}}</mat-icon>{{link['label']}}
        </a>
      </mat-toolbar-row>
    </mat-toolbar>

    <app-search></app-search>

  </header>
</div>


<router-outlet></router-outlet>
