<div *appSpinner="preload">
  <ng-template #alertBlock>
    <mat-error class="errors-block">
      <h3>
        По вашему запросу "{{query}} " ничего не найдено
      </h3>
    </mat-error>
  </ng-template>

  <div *ngIf="!isEmptySearchResult(filmsList); else alertBlock">
    <mat-grid-list cols="4" rowHeight="740px">
      <mat-grid-tile colspan="1" *ngFor="let film of filmsList">
        <app-film-item [film]="film"></app-film-item>
      </mat-grid-tile>
    </mat-grid-list>

    <app-pagination *ngIf="filmsList" [currentPage]="page" [lastPage]="lastPage" (page)="getMoreItem($event)"></app-pagination>
  </div>

</div>
