<mat-card class="film-card" *ngIf="film">

  <mat-card-header>
    <div mat-card-avatar class="film-header-image"></div>
    <mat-card-title>
      <b> {{film.title}}</b>
    </mat-card-title>
    <mat-card-subtitle>{{film.format}} </mat-card-subtitle>
    <mat-card-subtitle>{{film.releaseYear | slice:0:4 }}</mat-card-subtitle>
  </mat-card-header>
  <a routerLink="['/movie', film.id]">
    <img mat-card-image class="film-image" [src]="film['poster_path'] | transformImgPath: 500" alt="{{film.title}}">
  </a>
  <mat-card-content>
    <p>Actors List:</p>
    <p>
      {{getActorsFullName()}}
    </p>
  </mat-card-content>


  <mat-card-actions>

    <button mat-raised-button color="primary" (click)="openFilmById(film)">
      open
    </button>
    <button mat-raised-button color="warn" (click)="deleteMovie(film)">
      delete
    </button>
  </mat-card-actions>
</mat-card>
